html{
    scroll-behavior: smooth;
}

ul{
    padding: 0;
    list-style: none;
}

body{
    animation: opening 1s ease-in;
    background-color: #EFECE5;
    font-family: sans-serif;
    margin: 0;
}

.upper{
    text-transform: uppercase;
}

#first-look{
    background-image: url(../images/Chess.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

header{
    align-items: center;
    background-color: #7F7E77;
    display: flex;
    height: 10vh;
    justify-content: flex-end;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.menu-mobile{
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-evenly;
    margin-right: 50px;
    position: relative;
    width: 25px;
}

.traco{
    background-color: #EFECE5;
    box-shadow: 2px 2px 5px #58544B;
    height: 5px;
    transition: 1s;
    width: 100%;
}

.menu-mobile.active .traco{
    box-shadow: none;
    position: absolute;
}

.menu-mobile.active .traco:first-child{
    transform: rotate(45deg);
}

.menu-mobile.active .traco:nth-child(2), .menu-mobile.active .traco:nth-child(3){
    transform: rotate(315deg);
}

.menu-mobile-tags{
    background-color: #7F7E77;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    transform: translateX(100vw);
    transition: 1s;
    width: 100vw;
    z-index: 2;
}

.menu-mobile-tags.active{
    transform: translateX(0);
}

.menu-mobile-tags ul{
    align-items:  center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    margin: 0;
    width: 100%;
}

.menu-mobile-tags li a{
    color: #EFECE5;
    font-size: 1.5em;
    text-decoration: none;
}

.menu, aside{
    display: none;
}

@keyframes opening{
    from{opacity: 0;}
    to{opacity: 1;}
}

.introduction{
    align-items: center;
    display: flex;
    color: #7F7E77;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

h1{
    font-size: 2.5rem;
    letter-spacing: 5px;
    position: relative;
    bottom: 80px;
    text-align: center;
}

.introduction h2{
    font-size: 1.5em;
    letter-spacing: 5px;
    position: relative;
    bottom: 80px;
    text-align: center;
    margin: 0;
}

main{
    color: #7F7E77;
    padding: 5vh 10vw;
}

section{
    padding: 5vh 0;
}

section h3{
    font-size: 2rem;
    margin-top: 0;
}

.text p{
    font-size: 1.2em;
}

.simbols{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.simbol{
    padding: 0 20px;
    text-align: center;
}

.simbol i{
    border: solid #7F7E77 4px;
    border-radius: 50%;
    font-size: 2rem;
    padding: 15px;
}

.projectLogo{
    align-items: center;
    background-color: #24bbce;
    border: #58544B solid 2px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 20px;
    position: relative;
}

.projectLogo img{
    width: 100%;
}

#projects{
    padding-bottom: 0;
}

#projects li{
    padding: 5vh 0;
}

.projectText a{
    color: #58544B;
}

#projects h4{
    font-size: 1.5em;
}

#projects p{
    font-size: 1.2em;
}

.projectLogo a{
    bottom: 5px;
    color: #7F7E77;
    position: absolute;
    text-decoration: none;
}

.projectLogo i{
    align-items: center;
    background-color: #EFECE5;
    border: #7F7E77 solid 4px;
    border-radius: 50%;
    font-size: 1rem;
    display: flex;
    height: 15px;;
    justify-content: center;
    opacity: 0.5;
    padding: 5px;
    transition: 0.5s;
    width: 15px;
}

.projectLogo a:first-of-type{
    left: 5px;
}

.projectLogo a:last-of-type{
    right: 5px;
}

.projectLogo i:hover{
    opacity: 1;
}

.basicKnow{
    line-height: 1.3em;
    margin-top:30px;
}

.knowlegdeContent h4{
    font-size: 1.2em;
}

.overview{
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    
}

.overview div{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.overview i{
    font-size: 2em;
}

.overview h5{
    margin: 0;
    margin-top: 15px;
}

.certification{
    margin-top: 50px;
}

.certification > ul > li, .certification > ul > ul > li{
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 20px;
    margin-bottom: 15px;
}

.certification a{
    color: #7F7E77;
    text-decoration: none;
    transition: 0.5s;
}

.certification a:hover{
    color: rgb(43, 41, 37);
}


.hidden-list{
    display: none;
}

#see-more{
    background: none;
    border: #7F7E77 2px solid;
    border-radius: 10px;
    color: #7F7E77;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    transition: color 0.5s, background-color 0.5s;
}

#see-more:hover{
    color: #EFECE5;
    background-color: #7F7E77;
}

#see-more:active{
    transform: translateY(2px);
}

footer{
    background-color: #7F7E77;
    color: #EFECE5;
    padding: 50px;;
}

footer h3{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 0;
}

footer a{
    color: #EFECE5;
    text-decoration: none;
}

footer ul{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
}

footer li{
    margin: 10px;
}

footer svg{
    height: 2em;
    margin-bottom: 1rem;
}

footer li, footer li a{
    align-items: center;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

footer i{
    font-size: 2em;
    margin-bottom: 1rem;
}

footer li:hover, footer li a:hover{
    color: #D4CEC1;
}

footer path{
    transition: 0.5s;
}

footer a:hover path{
    fill: #D4CEC1;
}



@media (min-width: 768px) { 
    #first-look{
        background-position: right;
    }
    .menu-mobile{
        display: none;
    }
    .menu-mobile-tags{
        display: none;
    }
    .menu{
        display: block;
    }
    header{
        background-color: initial;
        font-size: 1.2rem;
        height: auto;
        position: static;
        width: auto;
    }
    
    .menu{
        color: #FFFCEE;
        font-family: sans-serif;
    }
    .menu ul{
        display: flex;
    }
    
    .menu a{
        text-decoration: none;
        color: inherit;
    }
    
    .menu ul > li{
        letter-spacing: 2px;
        margin-right: 30px;
        transition: 0.5s;
    }
    h1{
        font-size: 3rem;
    }
    .introduction h2{
        font-size: 1.5em;
    }
    #aboutMe{
        display: flex;
    }
    section h3{
        font-size: 3rem;
    }
    .text p{
        width: 40vw;
    }
    .simbols{
        margin-left: 5vw;
        width: 35vw;
    }
    .simbol{
        padding: 0 50px;
    }
    .simbol i{
        font-size: 5rem;
        padding: 30px;
    }
    .simbol h4{
        font-size: 1.5rem;
    }
    #projects li{
        display: flex;
    }
    .projectLogo img{
        width: 20vw;
        padding: 20px;
    }
    .projectText{
        margin: 0 5vw;
        max-width: 40vw;
    }
    #knowlegde h4{
        font-size: 1.5em;
    }
    .certification > ul > li, .certification > ul > ul > li{
        font-size: 1em;
    }
    .overview{
        width: 45vw;
    }
    .overview i{
        font-size: 3em;
    }
    .overview h5{
        font-size: 1.5em;
    }
    footer{
        font-size: 1.2em;
    }
    footer h3{
        font-size: 2em;
        margin-bottom: 2em;
    }
    footer ul{
        flex-direction: row;
    }
    aside{
        align-items: center;
        display: flex;
        height: 100vh;
        justify-content: center;
        position: fixed;
        right: 0;
        top: 0;
    }
    .aside-menu{
        background-color: #7F7E77;
        border-radius: 20px 0 0 20px;
        font-size: 2em;
        padding: 15px;
        margin: 0;
        transform: translate(10vw);
        transition: 1s;
    }
    
    .aside-menu.active{
        transform: translate(0);
    }
    
    .aside-menu ul{
        display: flex;
        flex-direction: column;
        height: 20vh;
        justify-content: space-between;
        margin: 0;
    }
    
    .aside-menu a{
        color: #EFECE5;
        text-decoration: none;
    }
    
    .aside-menu a:hover{
        color: #D4CEC1;
    }
}

@media (min-width: 992px) {
    .menu ul > li:hover{
        color: #7F7E77;
        font-size: 1.1em;
    }
    .introduction{
        height: auto;
        left: 25vw;
        top: 30vh;
        width: max-content;
    }
    .aside-menu{
        padding: 20px;
    }
    .aside-menu ul{
        height: 25vh;
    }
}

@media (min-width: 1200px) { 
    .introduction{
        left: 40vw;
    }
}