html{
    scroll-behavior: smooth;
}

body{
    animation: opening 1s ease-in;
    background-color: #EFECE5;
    font-family: sans-serif;
    margin: 0;
}

.upper{
    text-transform: uppercase;
}

.first-look{
    background-image: url(../images/Chess.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

header{
    align-items: center;
    color: #FFFCEE;
    display: flex;
    font-family: sans-serif;
    font-size: 1.2rem;
    justify-content: flex-end;
}

.menu ul{
    display: flex;
    list-style: none;
    padding: 0;
}

.menu a{
    text-decoration: none;
    color: inherit;
}

.menu ul > li{
    letter-spacing: 2px;
    margin-right: 30px;
    transition: 0.5s;
}

.menu ul > li:hover{
    color: #7F7E77;
    font-size: 1.1em;
}

@keyframes opening{
    from{opacity: 0;}
    to{opacity: 1;}
}

.introduction{
    align-items: center;
    display: flex;
    color: #7F7E77;
    flex-direction: column;
    position: absolute;
    left: 47vw;
    top: 30vh;
    width: max-content;
}

h1{
    letter-spacing: 5px;
    font-size: 3rem;
}

.introduction h2{
    font-size: 1.5em;
    letter-spacing: 5px;
    text-align: center;
}

main{
    color: #7F7E77;
    padding: 5vh 10vw;
}

section{
    padding: 5vh 0;
}

#aboutMe{
    display: flex;
}

section h3{
    font-size: 3rem;
    margin-top: 0;
}

.text p{
    width: 40vw;
    font-size: 1.2em;
}

.simbols{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 5vw;
    width: 35vw;
}

.simbol{
    padding: 0 50px;
    text-align: center;
}

.simbol i{
    border: solid #7F7E77 4px;
    border-radius: 50%;
    font-size: 5rem;
    padding: 30px;
}

.simbol h4{
    font-size: 1.5rem;
}

.projectLogo{
    align-items: center;
    background-color: #24bbce;
    border: #58544B solid 2px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    width: max-content;
}

.projectLogo img{
    width: 20vw;
    padding: 20px;
}

#projects ul{
    list-style: none;
}

#projects li{
    display: flex;
    padding: 5vh 0;
}

.projectText{
    margin: 0 5vw;
    max-width: 40vw;
}

.projectText a{
    color: #58544B;
}

#projects h4{
    font-size: 1.5em;
}

#projects p{
    font-size: 1.2em;
}

.projectLogo a{
    bottom: 5px;
    color: #7F7E77;
    position: absolute;
    text-decoration: none;
}

.projectLogo i{
    align-items: center;
    background-color: #EFECE5;
    border: #7F7E77 solid 4px;
    border-radius: 50%;
    font-size: 1rem;
    display: flex;
    height: 15px;;
    justify-content: center;
    opacity: 0.5;
    padding: 5px;
    transition: 0.5s;
    width: 15px;
}

.projectLogo a:first-of-type{
    left: 5px;
}

.projectLogo a:last-of-type{
    right: 5px;
}

.projectLogo i:hover{
    opacity: 1;
}

#knowlegde h4{
    font-size: 1.5em;
}

#knowlegde ul{
    padding: 0;
}

.certification li{
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 30px;
    list-style: none;
}

.certification a{
    color: #7F7E77;
    text-decoration: none;
    transition: 0.5s;
}

.certification a:hover{
    color: rgb(43, 41, 37);
}